.flat-owner {
  padding: 30px 130px 30px 130px;
  border-bottom-style: solid;
  border-bottom-width: 1px;

}

.flat-details {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.form-container {
  padding: 5px 30px 5px 30px;
}

.header-flat-name {
  padding-left: 30px
}

