---
title: Le Wagon Middleman boilerplate
---

<body>

  <!-- Your banner code -->

<%= partial "banner" %>

<%= partial "banner-elements" %>

<%= partial "cards" %>
  <!-- Your cards code -->


  <!-- Your newsletter code -->
  <div class="pre-footer">
    <div class="text-center">
      <h2>Get news from us</h2>
      <p>Leave us your mail and get news from us</p>
      <div class="list-inline">
        <form class="form-inline">
          <div class="form-group">
            <input type="text" placeholder="Enter your email"><br>
          </div>
          <button type="button" class="btn btn-primary">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Your map code -->
<%= partial "map" %>
